---
import 'simpledotcss/simple.min.css'
import '../styles/main.css'

interface Props {
  title?: string
  description?: string
  thumbnail?: string
  permalink?: string
}

const { title, description, thumbnail, permalink } = Astro.props
const pageTitle = title ? `${title} - xarsh` : 'xarsh'
const desc = description || 'xarshのブログ'
const ogImage = thumbnail || '/img/ogp.png'
const canonicalUrl = permalink || Astro.url.href
const pagefindImageMeta = 'image[content]'
const year = new Date().getFullYear()
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content={desc}>
    <meta name="referrer" content="strict-origin-when-cross-origin">
    {thumbnail
      ? <meta property="og:image" content={ogImage} data-pagefind-meta={pagefindImageMeta} />
      : <meta property="og:image" content={ogImage} />}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@TakaoNaito">
    <meta property="og:url" content={canonicalUrl}>
    <meta property="og:description" content={desc}>
    <meta property="og:title" content={pageTitle}>
    <meta property="og:site_name" content="xarsh">
    <meta property="og:type" content="website">
    <link rel="canonical" href={canonicalUrl}>
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text x=%2250%%22 y=%2250%%22 style=%22dominant-baseline:central;text-anchor:middle;font-size:90px;%22>🌃</text></svg>">
    <link rel="alternate" type="application/rss+xml" href="/index.xml" title="xar.sh">
    <title>{pageTitle}</title>
  </head>
  <body>
    <header>
      <a class="logo" href="/">
        <img width="72" src="/img/logo.svg" alt="Site logo">
      </a>
      <nav>
        <a href="/">ホーム</a>
        <a href="/post/">過去ログ</a>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <small>Ⓒ 2012-{year} Takao Naito</small>
    </footer>
    <script is:inline>
      if (location.hostname === 'localhost' && 'serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js')
      }
    </script>
  </body>
</html>
